body {
  font-family: monospace;
  padding: 0;
  margin: 0;
}

#app>section.ant-layout {
  padding: 0;
  margin: 0;
}

.ant-layout {
  padding: 0 20px;
  margin: 0;
}

.ant-layout-header {
  height: 40px;
  line-height: 40px;
}

.ant-breadcrumb {
  padding-top: 10px;
}

.ant-breadcrumb>span>a.ant-breadcrumb-link {
  color: dodgerblue;
}

.ant-divider,
.ant-divider-horizontal {
  margin: 12px 0 0 0;
}

.ant-table,
.ant-table-cell,
.ant-menu,
div,
span {
  font-family: monospace;
}

.markdown-doc-container {
  background-color: #fdfdfd;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
  transform: translateZ(-5px);
  padding: 10px 20px;
}

.markdown-doc-container p>code {
  padding-left: 5px;
  padding-right: 5px;
  background-color: aliceblue;
  color: green;
}

.markdown-doc-container p>strong {
  color: blueviolet;
  font-weight: 900;
}

.markdown-doc-container pre>code.hljs {
  border: 1px solid;
  background-color: aliceblue;
}

.markdown-doc-container blockquote {
  background-color: antiquewhite;
  font-style: italic;
}
